body {
	margin:25px 0;
}

p,li {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Major Mono Display', monospace;
}

h6 {
	font-size:0.8em;
	font-style: italic;
	margin-top:-2em;
}

h5 {
	font-size:1.5em;
}



@media only screen and (min-width: 1000px) {
	.container{
		width: 660px;
	}
}



#midasjs {
	height:650px;
}

pre code {
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
}


.highlight.yellow {
  background: linear-gradient(to bottom, white 40%, rgb(252,229,162) 40%, rgb(252,229,162) 75%, white 75%);
}

.highlight.pandora {
background: linear-gradient(to bottom, white 30%, rgba(70,158,232,.6) 30%, rgba(70,158,232,.6) 80%, white 80%);

}

.highlight.spotify {
background: linear-gradient(to bottom, white 30%, rgba(106,210,111,.6) 30%, rgba(106,210,111,.6) 80%, white 80%);

}

.highlight.soundcloud {
background: linear-gradient(to bottom, white 30%, rgba(237,126,48,.6) 30%, rgba(237,126,48,.6) 80%, white 80%);

}

.highlight.gs {
background: linear-gradient(to bottom, white 30%, rgb(240,240,240) 30%, rgb(240,240,240) 80%, white 80%);

}

button.button-install {
	margin-right: 2em;
	color: rgb(87,58,208);
	padding: 0px 10px;
	border-color: #ddd;
}

button.button-install.active, button.button-install:hover {
	background-color: rgb(87,58,208);
	color: #fff;
	border-color: rgb(87,58,208);
}

.hljs-line-numbers {
	text-align: right;
	border-right: 1px solid #ccc;
	color: #999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td.hljs-ln-code {
	border: 0px;
}

td.hljs-ln-numbers {
	border:0px;
	color: #555;
}

a, a:hover {
	color: rgb(87,58,208);
}

ol,ul {
	list-style-position: outside;
	padding-left:1.75em;
}


#snippet {
	display:block;
}

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#23241f}.hljs,.hljs-tag,.hljs-subst{color:#f8f8f2}.hljs-strong,.hljs-emphasis{color:#a8a8a2}.hljs-bullet,.hljs-quote,.hljs-number,.hljs-regexp,.hljs-literal,.hljs-link{color:#ae81ff}.hljs-code,.hljs-title,.hljs-section,.hljs-selector-class{color:#a6e22e}.hljs-strong{font-weight:bold}.hljs-emphasis{font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-name,.hljs-attr{color:#f92672}.hljs-symbol,.hljs-attribute{color:#66d9ef}.hljs-params,.hljs-class .hljs-title{color:#f8f8f2}.hljs-string,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-id,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-variable{color:#e6db74}.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}